:root {
  --color-picker-width: 100px;
  --color-picker-height: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color-picker-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: calc(var(--color-picker-height) / 2);
  left: calc(var(--color-picker-width) / 2);
}

.color-picker-wrapper > .color-picker {
  width: var(--color-picker-width);
  height: var(--color-picker-height);
}

.color-picker-wrapper > h1 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  color: #333333;
}
